<app-menu></app-menu>
<app-about (newItemEvent)="addItem($event)"></app-about>
<app-skills (mudouValor)="onMudouValor($event)"></app-skills>

<input type="text" [(ngModel)]="nomeSkill">
<div class="" style="justify-content: center;">
  <h2>LISTA DE ALUNOS</h2>
<ul *ngIf="items.length > 0">
  <li *ngFor="let item of items">{{item}}</li>
</ul>
</div>

<div class="" style="justify-content: center;">
  <h2>LISTA DE ALUNOS pipe correctamente</h2>
<ul *ngIf="items.length > 0">
  <li *ngFor="let item of obterItem()">{{item}}</li>
</ul>
</div>
<router-outlet></router-outlet>